<form action="/story/create" method="POST" class="form-signin" target="_top">
  <h2>Story Mongo test</h2>



  <input type="text" class="form-control" placeholder="insipiration id" name="inspiration_id">
  <input type="password" class="form-control" placeholder="pinned by" name="pinned_by">
  <input type="password" class="form-control" placeholder="pinned from" name="pinned_from">
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>
