<form action="/session/create" method="POST" class="form-signin" target="_top">
  <h2 class="form-signin-heading">Sign in</h2>

   <% if(flash && flash.err) { %>
    <ul class="alert alert-warning">
      <li style="list-style-type: none"><%= flash.err %></li>
    </ul>
  <% } %>

  <input type="text" class="form-control" placeholder="email address" name="email">
  <input type="password" class="form-control" placeholder="password" name="password">
  <br />
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>
