<!-- Email Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Invite a friend to join you in spreading kindness</h4>
      </div>
      <div class="modal-body">
        <h4>Inspiration to share: </h4>
        <p id="inspiration-share-text"></p>
        </br>
        <h4>Your friend's name: </h4>
        <input type="text" class="modal-input" id="friend-share-name-input" placeholder="Enter name here"></input>
        </br>
        <h4>Your friend's email: </h4>
        <input type="text" class="modal-input" id="friend-share-email-input" placeholder="Enter email here"></input>
        <input type="hidden" id="email-text" value="Placeholder inspiration text"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="share-inspiration">Share inspiration!</button>
      </div>
    </div>
  </div>
</div>
