<div class="formwrapper">
<div class="join">
<% userBelongsToGroup = false %>
<% for (var i in members) { if (members[i].id == session.User.id) { userBelongsToGroup = true } } %>
<% if (!userBelongsToGroup) { %>
<form name="joingroup">
  <input type="submit" value="Join this group" class="btn btn-small btn-primary">
</form>
<% } %>
</div>

<script>
$('.join form').on("submit", function(e) {
  e.preventDefault();
  $.ajax({
    url: '/group/join',
    type: 'POST',
    data: {
      member_id: <%= session.User.id %>,
      group_id: <%= group.id %>,
      _csrf: '<%= _csrf %>'
    }
  }).success(function(data) {
    obj = {
      group: data,
    };
    $('div.join').empty();
    $('div.join').append("<div>Successfully joined!</div>");
  })
});
</script>
