
<div>
  <div id="registergroup-container" class="formwrapper">
    <h2>Register a new group</h2>
    <form id="registergroup" name="registergroup">
      <input type="text" class="form-control" name="org" placeholder="Group Name">
      <input type="text" class="form-control" name="image_url" placeholder="Specify a url for your group's image">
      <input type="text" class="form-control" name="city" placeholder="City, State">
      <input type="textarea" class="form-control" name="description" placeholder="Give a brief description of your group">
      <input type="submit" class="btn btn-lg btn-primary btn-block">
    </form>
  </div>
</div>

<script>
$('form#registergroup').on("submit", function(e) {
  e.preventDefault();
  $.ajax({
    url: '/group/create',
    type: 'POST',
    data: {
      org: $('input[name="org"]').val(),
      image_url: $('input[name="image_url"]').val(),
      city: $('input[name="city"]').val(),
      description: $('input[name="description"]').val(),
      _csrf: '<%= _csrf %>'
    }
  }).success(function (data) {
    $('#registergroup-container').empty();
    $('#registergroup-container').append("Registering group " + data.org);
    $.ajax({
      url: '/group/join',
      type: 'POST',
      data: {
        memberid: <%= session.User.id %>,
        groupid: data.id,
        _csrf: '<%= _csrf %>'
      }
    }).success(function (data2) {
      window.location.href = '../show/'+data.id;
    })
  })
});
</script>
