
    <div id="nav-wrapper" >
        <div id="nav" class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container" id="custom-navbar-container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/user/show/<%= session.User.id %>" class="navbar-brand"><%= session.User.name %>'s Inspiral Dashboard</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/inspiration/feed">INSPIRATION FEED</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown inspiration-navbar-link">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">MY ACCOUNT<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/user/update/">Edit Profile</a></li>
                    <li><a href="/user/destroy">Log out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
