body {
  background: url(../../images/bgs/softblue.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
}

a:hover {
    text-decoration: none;
}

div.container.marketing {
    padding-top: 50px;
}

.form-control {
  margin-bottom: 5px;
}

.form-signin-heading {
    text-align: center;
}

.form-signin {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.edit-account-form h2 {
    margin-top: 80px;
}

iframe {
  width: 650px;
  height: 400px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}

#nav > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.carousel { margin-bottom: 0px; }

#homepage-landing {
    height: 500px;
}

#homepageCanvas {
    height: 500px;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
}

#homepageCanvas-2 {
    height: 600px;
    width: 850px;
    opacity: 0.7;
    margin-left: 8%;
    position:relative;
}

#homepage-inspiral {
    height: 500px;
    width: 100%;
    text-align: center;
}

#inspiral-land-title {
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
    opacity: 0.8;
    font-size: 32px;
    position: relative;
    z-index: 1;
    margin-top: -150px;
}

#homepage-row-2 {
    padding-top: 35px;
}

.homepage-row-2-text {
    font-family: "Lucida Console", Monaco, monospace;
    color: #428bca;
}

.homepage-para {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
}

.lead {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

#signup-homepage {
    font-family: Verdana, Geneva, sans-serif;
    opacity: 0.9;
    position: relative;
    z-index: 1;
}

#start-inspiring {
    color: #428bca;
    text-align: center;
}

#start-inspiring h2:hover {
    text-decoration: none;
}

#recent-inspirations {
    float:right;
    font-size: 12px;
    color:#222;
}

.home-trending-title {
    margin-bottom: 20px;
}

.top-and-most-recent {
    min-height: 70px;
    font-size: 16px;
    color:#222;
    border: 1px solid #C0C0C0;
    -webkit-box-shadow: 2px 2px 2px 2px #6E6E6E;
    box-shadow: 2px 2px 2px 2px #6E6E6E;
    background: rgb(245,246,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 0%, rgba(184,186,198,1) 100%, rgba(245,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(0%,rgba(219,220,226,1)), color-stop(100%,rgba(184,186,198,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 0%,rgba(184,186,198,1) 100%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 0%,rgba(184,186,198,1) 100%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 0%,rgba(184,186,198,1) 100%,rgba(245,246,246,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 0%,rgba(184,186,198,1) 100%,rgba(245,246,246,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
}

.navbar-inverse {
    background: black;
    opacity:0.7;
    filter:alpha(opacity=60);
    border: none;
}

.navbar-inverse .navbar-brand {
    font-family: Arial, Times, serif;
    font-size: 16px;
}

.navbar-inverse .navbar-brand:hover{
    color: #C0C0C0;
    background: #404040;
}

#custom-navbar-container {
    margin-left: auto;
    margin-right: auto;
}

.navbar-links {
    font-size: 16px;
}

.navbar-links:hover {
    color: #C0C0C0;
    background: #404040;
}

.modal-input {
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.modal-body {
    background-color: #F0F0F0;
    text-align: center;
}

#filter-inspirations {
    margin-bottom: 10px;
}

#filter-text {
    font-size: 16px;
}

.filter-buttons {
    margin-left: 10px;
}

.toppish p {
    text-align: center;
    padding-top: 4px;
}

.past-kindness-card {
    color: #A0A0A0;
}

.trending-kindness-card {
    color: #FF9933;
    font-style: bold;
}

#inspiration-todo-list {
    width: 95%;
    margin-right: 60px;
    margin-left: 60px;
    padding-top: 20px;
    /*text-align: center;*/
}
#inspiration-todo-list .done {
    float: right;
    width: 50%;
}
#inspiration-todo-list .notdone {
    float: left;
    width: 50%;
}

.inspiration-item {
    border: 1px solid #fafafa;
    /*border-top: 2px solid #fafafa; */
    background: #f6f6f6; /* Old browsers */
    width: 190px;
    margin: 0px 10px 10px 10px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#9a9a9a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#9a9a9a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#9a9a9a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#9a9a9a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#9a9a9a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#9a9a9a',GradientType=0 ); /* IE6-8 */
    padding: 0px;
    text-shadow: 0px 1px 0px #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0px 10px 10px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
       -moz-box-shadow: 0px 10px 10px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
            box-shadow: 0px 10px 10px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
    margin-bottom: 10px;
    margin-top: 10px;
}
div.inspiration-text{
    background-color : transparent;
    font-size: 14px;
    /*font-size: 1.5vw;*/
    text-align: left;
    min-height: 210px;
    word-wrap:break-word;
    border: 1px solid #fafafa;
    /*border-top: 2px solid #fafafa; */
    background: #f6f6f6; /* Old browsers */
    min-width: 150px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
    padding: 20px;
    text-shadow: 0px 1px 0px #fff;


    margin-bottom: 0px;
}

div.inspiration-text .text { min-height: 150px; }
div.inspiration-user{
    background-color : transparent;
    font-size: 1vw;
    text-align: center;
    width: 100%;
    height: 20%;
}

div.meta {
    padding: 4px 10px;
    padding-bottom: 4px;
    text-align: right;
    min-height: 15px;
    color: #FFF;
    font-weight: normal;
    text-shadow: 0px 1px 0px #444;
}

div.meta a {
    color: #444;
    text-shadow: 0px 0px 0px;
    margin-right: 10px;
}
#done-checkbox {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, sans-serif;
}

#new-inspiration {
    margin-top: 15px;
    padding: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    height: 40px;
    width: 250px;
    -webkit-box-shadow: 0px 2px 14px #444;
    box-shadow: 0px 2px 14px #444;
    background-color:#EEE;
    color:#222;
}

.input_done {
    display: none;
}

.new-inspiration-button {
    display: none;
}

.dashboard-profile {
    text-align: center;
}

.dashboard-inspiration-add {
    text-align: center;
}

#allDashboardInspirations .inspiration-item {
  float: left;
}

.get-started-dashboard {
    height: 150px;
    width: 370px;
    margin-top: 150px;
    margin-left: 20px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    color: #E0E0E0;
    background: rgb(89,89,89); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 16%, rgba(44,44,44,1) 50%, rgba(43,43,43,1) 76%, rgba(76,76,76,1) 90%, rgba(76,76,76,1) 90%, rgba(76,76,76,1) 90%, rgba(102,102,102,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,rgba(89,89,89,1)), color-stop(16%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(90%,rgba(76,76,76,1)), color-stop(90%,rgba(76,76,76,1)), color-stop(90%,rgba(76,76,76,1)), color-stop(98%,rgba(102,102,102,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(89,89,89,1) 12%,rgba(71,71,71,1) 16%,rgba(44,44,44,1) 50%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(102,102,102,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(89,89,89,1) 12%,rgba(71,71,71,1) 16%,rgba(44,44,44,1) 50%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(102,102,102,1) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(89,89,89,1) 12%,rgba(71,71,71,1) 16%,rgba(44,44,44,1) 50%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(102,102,102,1) 98%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(89,89,89,1) 12%,rgba(71,71,71,1) 16%,rgba(44,44,44,1) 50%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(102,102,102,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}

#begin-adding {
    font-size: 20px;
    margin-left: 5px;
    padding-top: 40px;
}

#user-gravatar {
    margin-top: 10px;
    text-align: center;
}

.repin-button .text {
    position:relative;
    visibility: hidden;
    display:none;
}

/*.repin-button:hover .text {
    visibility: visible;
    display:inline;
}*/

.map-button .text {
    position:relative;
    visibility: hidden;
    display:none;
}

/*.map-button:hover .text {
    visibility: visible;
    display:inline;
}*/

.well-sm {
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 0px;
    /*background: #686868;*/
    color: white;
    opacity: 0.9;
    text-align: center;
    background: rgb(89,89,89); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 16%, rgba(44,44,44,1) 50%, rgba(43,43,43,1) 76%, rgba(76,76,76,1) 90%, rgba(76,76,76,1) 90%, rgba(76,76,76,1) 90%, rgba(102,102,102,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,rgba(89,89,89,1)), color-stop(16%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(90%,rgba(76,76,76,1)), color-stop(90%,rgba(76,76,76,1)), color-stop(90%,rgba(76,76,76,1)), color-stop(98%,rgba(102,102,102,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(89,89,89,1) 12%,rgba(71,71,71,1) 16%,rgba(44,44,44,1) 50%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(102,102,102,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(89,89,89,1) 12%,rgba(71,71,71,1) 16%,rgba(44,44,44,1) 50%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(102,102,102,1) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(89,89,89,1) 12%,rgba(71,71,71,1) 16%,rgba(44,44,44,1) 50%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(102,102,102,1) 98%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(89,89,89,1) 12%,rgba(71,71,71,1) 16%,rgba(44,44,44,1) 50%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(102,102,102,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}

.profile-count {
    float: left;
    margin-left: 15px;
}

#profile-count-wrapper {
    height: 40px;
}

#user-profile-groups {
    text-align: center;
    margin-top: 20px;
    padding-top: 2px;
    background: #E0E0E0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    height: 140px;
}

#createdAt {
    font-size: 12px;
    background: #f6f6f6; /* Old browsers */
    text-align: right;
    margin-right: 0px;
    padding-right: 5px;
}

#submit {
    font-family: Verdana, Geneva, sans-serif;
}

#add-inspiration input[type="button"] {
     margin-left: 350px;
}

#inspiration-feed-title {
    margin-top: 75px;
    text-align: center;
}

#feed-want-more {
    margin: auto;
    text-align: center;
}

#getsuggestions {
    margin: auto;
}

#inspiration-feed {
  max-width: 840px;
  clear: both;
  margin-right: auto;
  margin-left: auto;
}

#inspiration-feed-header {
    margin-top: 70px;
}

/* clearfix */
#inspiration-feed:after {
  content: '';
  display: block;
  clear: both;
}

#inspiration-feed .inspiration-item {
  float: left;
}

.buttons {
    margin: auto;
    /*text-align: center;*/
    padding-bottom: 5px;
    background: #f6f6f6; /* Old browsers */
}

#map-canvas {
    height: 800px;
    width:100%;
    margin-top: 20px;
    margin-bottom: 100px;
}

.map-header {
    text-align: center;
    margin-top: 70px;
}

/* sticky navbar */
#main {
  width:740px;
  min-height: 1000px; /*can be anything, just should make sure it is taller than the sidebar*/
  margin-top: 50px;
  margin-bottom: 10px;
  float: left;
  background-color: #ccc;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
#sidebar {
  width: 280px;
  background-color: #ccc;
  min-height: 640px;
  margin-top: 50px;
  margin-right: 10px;
  /*margin: 50px 0 15px 0;*/ /*controls the cutoff of the top and bottom limitations*/
  padding: 15px 10px;
  float: left; /* float right for a right aligned sidebar */
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#footer {
  color: #ccc;
  width: 1000px;
  clear:both;
  height: 40px;
  /*margin-top: 100px;*/
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: rgb(89,89,89); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 16%, rgba(44,44,44,1) 50%, rgba(43,43,43,1) 76%, rgba(76,76,76,1) 90%, rgba(76,76,76,1) 90%, rgba(76,76,76,1) 90%, rgba(102,102,102,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,rgba(89,89,89,1)), color-stop(16%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(90%,rgba(76,76,76,1)), color-stop(90%,rgba(76,76,76,1)), color-stop(90%,rgba(76,76,76,1)), color-stop(98%,rgba(102,102,102,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(89,89,89,1) 12%,rgba(71,71,71,1) 16%,rgba(44,44,44,1) 50%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(102,102,102,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(89,89,89,1) 12%,rgba(71,71,71,1) 16%,rgba(44,44,44,1) 50%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(102,102,102,1) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(89,89,89,1) 12%,rgba(71,71,71,1) 16%,rgba(44,44,44,1) 50%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(102,102,102,1) 98%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(89,89,89,1) 12%,rgba(71,71,71,1) 16%,rgba(44,44,44,1) 50%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(76,76,76,1) 90%,rgba(102,102,102,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}

#wrapper {
  width: 1050px; /* MUST HAVE WIDTH SET, should be the sidebar width + main width */
  margin-left: auto;
  margin-right: auto;
}

div.group-gravatar {
  background-color  : #000;
  background-repeat   : no-repeat;
  background-position : 50% 50%;
  background-size     : 100% auto;
  background-size     : contain;
  border-radius       : 50%;
  float: left;
  margin: 5px 10px 0 5px;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

div.group-content {
    padding: 0 0 0 20px;
    min-height: 200px;
}

div.group-index-wrap {
 margin: auto;
 max-width: 1300px;
}
div.group-index {
    border: 1px solid #fafafa;
    /*border-top: 2px solid #fafafa; */
    background: #f6f6f6; /* Old browsers */
    width: 380px;
    min-height: 350px;
    /*max-height: 500px; */
    margin: 20px;
    float: left;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
    padding: 20px;
    text-shadow: 0px 1px 0px #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
       -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
            box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
    margin-bottom: 10px;
}

div.group-index ul li {
    list-style-type: none;
}

.kindness-story-top {
    background: white;
    height: 300px;
    margin-top: 70px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background: rgb(245,246,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(184,186,198,1) 0%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(0%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(184,186,198,1) 0%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(184,186,198,1) 0%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(184,186,198,1) 0%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(184,186,198,1) 0%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
    border: 1px solid #909090;
}

#kindness-story-title {
    padding-top: 20px;
    padding-left: 50px;
}

.story-item {
    float:right;
    margin-right: 40px;
}

.left-gravatar {
    margin-right: -10px;
}

.right-gravatar {
    margin-left: -10px;
}

.story-row {
    margin-top: 20px;
}

div.story-gravatar {
  background-color  : #000;
  background-repeat   : no-repeat;
  background-position : 50% 50%;
  background-size     : 100% auto;
  background-size     : contain;
  border-radius       : 50%;
  float:left;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#kindness-created {
    color:white;
    padding-bottom: 5px;
    text-align: center;
}

.inspiration-text {
    margin-right: auto;
    margin-left: auto;
}

.story-event {
    float:left;
    padding-top: 15px;
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    width: 400px;
    height: 90px;
    border: 1px solid #fafafa;
    /*border-top: 2px solid #fafafa; */
    background: #f6f6f6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
    text-shadow: 0px 1px 0px #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
       -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
            box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
}

/* div.buttons { text-align: center; } */
button#submit.inspire_link { float: left; margin-right: 5px; margin-left: 40px;}

.formwrapper {
    margin: 40px auto;
    width: 600px;
      border: 1px solid #fafafa;
    /*border-top: 2px solid #fafafa; */
    background: #f6f6f6; /* Old browsers */

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
    padding: 20px;
    text-shadow: 0px 1px 0px #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
       -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
            box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
    margin-bottom: 10px;
}
.formwrapper h2, h3, h4, h5 {
    text-align: center;
    color: #4444;
    font-family: 'Lato', sans-serif;
    margin-bottom: 25px;
}

.formwrapper .form-control {

         -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 3px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
       -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 3px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
            box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 3px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
    margin-bottom: 10px;

}

.formwrapper .btn-primary {
background: #feffff; /* Old browsers */
background: -moz-linear-gradient(top, #feffff 0%, #b9e4ea 0%, #8eb7c2 45%, #749bb0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(0%,#b9e4ea), color-stop(45%,#8eb7c2), color-stop(100%,#749bb0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #feffff 0%,#b9e4ea 0%,#8eb7c2 45%,#749bb0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #feffff 0%,#b9e4ea 0%,#8eb7c2 45%,#749bb0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #feffff 0%,#b9e4ea 0%,#8eb7c2 45%,#749bb0 100%); /* IE10+ */
background: linear-gradient(to bottom, #feffff 0%,#b9e4ea 0%,#8eb7c2 45%,#749bb0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#749bb0',GradientType=0 ); /* IE6-9 */
border-color: #546d86;
}

.formwrapper .btn-primary:hover {
    background: #749bb0; /* Old browsers */
background: -moz-linear-gradient(top, #749bb0 0%, #8eb7c2 55%, #b9e4ea 100%, #feffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#749bb0), color-stop(55%,#8eb7c2), color-stop(100%,#b9e4ea), color-stop(100%,#feffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #749bb0 0%,#8eb7c2 55%,#b9e4ea 100%,#feffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #749bb0 0%,#8eb7c2 55%,#b9e4ea 100%,#feffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #749bb0 0%,#8eb7c2 55%,#b9e4ea 100%,#feffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #749bb0 0%,#8eb7c2 55%,#b9e4ea 100%,#feffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#749bb0', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
}


