body {
    background-image: url('../../images/mooning/mooning.png');
}

a:hover {
    text-decoration: none;
}

div.container.marketing {
    padding-top: 50px;
}

.form-control {
  margin-bottom: 5px;
}

.form-signin-heading {
    text-align: center;
}

.form-signin {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

iframe {
  width: 650px;
  height: 400px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}

#nav > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.carousel { margin-bottom: 0px; }

#add-inspiration input[type="text"] {
    margin: 20px;
    width:500px;
    overflow:hidden;
    background-color:#EEE;
    color:#222;
    font-weight:normal;
    font-size:24px;
    resize:none;
    line-height:40px;
    padding-left:100px;
    padding-right:100px;
    padding-top:35px;
    padding-bottom:34px;
    background-repeat:repeat-y, repeat;
    -webkit-border-radius:12px;
    border-radius:12px;
    -webkit-box-shadow: 0px 2px 14px #444;
    box-shadow: 0px 2px 14px #444;
    border-top:1px solid #EFEFEF;
    border-bottom:1px solid #EFEFEF;

}

#add-inspiration input[type="button"] {
     margin-left: 350px;
    }

#homepage-landing {
    height: 500px;
}

#homepageCanvas {
    height: 450px;
    width: 100%;
    opacity: 0.9;
    position:relative;
    z-index: -1;
}

#homepage-inspiral {
    height: 500px;
    width: 100%;
    text-align: center;
    color: white;
}

#inspiral-land-title {
    color: white;
    opacity: 0.8;
    font-size: 32px;
    position: relative;
    z-index: 1;
    margin-top: -150px;
}

.homepage-row-2-text {
    font-family: Helvetica, Times, serif;
}

#signup-homepage {
    opacity: 0.9;
    position: relative;
    z-index: 1;
}

#start-inspiring {
    color: #428bca;
    text-align: center;
}

#start-inspiring h2:hover {
    text-decoration: none;
}

.navbar-inverse {
    background: black;
    opacity:0.6;
    filter:alpha(opacity=60);
    border: none;
}

.navbar-inverse .navbar-brand {
    font-family: Arial, Times, serif;
    font-size: 15px;
}

.navbar-inverse .navbar-brand:hover{
    color: #C0C0C0;
    background: #404040;
}

#custom-navbar-container {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-links:hover {
    color: #C0C0C0;
    background: #404040;
}

div#inspiration-todo-list {
    width: 95%;
    margin: 20px 90px 20px;
}
div#inspiration-todo-list .done {
    float: right;
    width: 50%;
}
div#inspiration-todo-list .notdone {
    float: left;
    width: 50%;
}
div.inspiration-item {
    width: 100px;
    height: 200px;
}
div.inspiration-text{
    background-color : transparent;
    font-size: 1.4em;
    text-align: left;
    width: 100%;
    height: 80%;
}
div.inspiration-user{
    background-color : transparent;
    font-size: 2em;
    text-align: center;
    width: 100%;
    height: 20%;
}

