body {
    background-image: url('../../images/mooning/mooning.png');
}

div.container.marketing {
    padding-top: 50px;
}

.form-control {
  margin-bottom: 5px;
}

.left, .right {
    width: 50%;
    float: left;
}

iframe {
  width: 400px;
  height: 500px;
  float: left;
  padding: 10px;

}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}

#nav > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.carousel { margin-bottom: 0px; }


#add-inspiration input[type="text"] {
    margin: 20px;
    width:500px;
    overflow:hidden;
    background-color:#EEE;
    color:#222;
    font-weight:normal;
    font-size:24px;
    resize:none;
    line-height:40px;
    padding-left:100px;
    padding-right:100px;
    padding-top:35px;
    padding-bottom:34px;
    background-repeat:repeat-y, repeat;
    -webkit-border-radius:12px;
    border-radius:12px;
    -webkit-box-shadow: 0px 2px 14px #444;
    box-shadow: 0px 2px 14px #444;
    border-top:1px solid #EFEFEF;
    border-bottom:1px solid #EFEFEF;

}

#add-inspiration input[type="button"] {
     margin-left: 350px;
    }


#inspiration-todo-list {
    width: 900px;
    margin: 20px 90px 20px;
}
#inspiration-todo-list .done {
    float: right;
    width: 300px;
}

#inspiration-todo-list .notdone {
    float: left;
    width: 500px;
}

#homepage-landing {
    height: 500px;
}

#homepageCanvas {
    height: 450px;
    width: 100%;
}

#homepage-inspiral {
    text-align: center;
    margin-top: 0px;
    padding-bottom: 10px;
    background-color: #122D7F;
    color: white;
}

#inspiral-land-title {
    font-size: 32px;
}

#homepage-top-row {
    background-color: #122D7F;
}

.navbar-inverse .navbar-brand {
    font-family: Arial, Times, serif;
    font-size: 24px;
    color: #006666;
    font-weight: bold;
}

.navbar-inverse .navbar-brand:hover{
    color: gray;
}

#custom-navbar-container {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-inverse {
    background-image: url('../../images/mooning/mooning.png');
    border: none;
}
