
<div id="templates">

  <script class="inspiration-item-template" type="text/template">

    <a class="inspire_link" href="/inspiration/create?text={{= text }}&city=Austin&original_creator_id={{= original_creator_id }}&done=0&user_id={{= session_user }}" class="btn btn-sm btn-primary this-inspires">This inspires me!</a>   {{= text }}
  </script>

  <script class="done-inspiration-item-template" type="text/template">

    <a class="inspire_link" href="/inspiration/create?text={{= text }}&city=Austin&original_creator_id={{= original_creator_id }}&done=0&user_id={{= session_user }}" class="btn btn-sm btn-primary this-inspires">This inspires me!</a>   {{= text }}
  </script>

</div>


