
<div id="templates">

  <!-- For the want to do column -->
  <script class="inspiration-item" type="text/template">

    <a href="#" class="btn btn-default btn-primary btn-sm"><span class="glyphicon glyphicon-share-alt"></span> share</a>

    <a class="inspire_link" href="/inspiration/create?text={{= text }}&city=Austin&original_creator_id={{= original_creator_id }}&done=0&user_id={{= session_user }}" class="btn btn-sm btn-primary this-inspires">This inspires me!</a>   {{= text }}

  </script>

  <!-- For the done column -->
  <script class="done-inspiration-item" type="text/template">

    <a href="#" class="btn btn-default btn-info btn-sm"><span class="glyphicon glyphicon-share-alt"></span> share</a>

    <a class="inspire_link" href="/inspiration/create?text={{= text }}&city=Austin&original_creator_id={{= original_creator_id }}&done=0&user_id={{= session_user }}" class="btn btn-sm btn-primary this-inspires">This inspires me!</a>   {{= text }}

  </script>

</div>


