
<script>
var session_user = <%= session.User.id %>
</script>

<%- partial ('js_templates.html.ejs') %>

<div class='container'>
  <h1><%= user.name %>'s Inspiral Dashboard</h1>

<% if ((session.authenticated) && (session.User.id == user.id)) { %>

  <div id="add-inspiration">
    <input type="text" data-userid="<%= user.id %>" id="new-inspiration" placeholder="Enter something inspiring!" /> <br />


  <div>

      <span class="input_done">
        <input type="checkbox" value="true"> I'm a done thing
      </span>
    </div>


    <input type="button" value="Add Inspiration" id="submit" class="btn btn-info btn-lg" />


</div>



<% } %>


</div> <!-- end container -->

<div id="inspiration-todo-list">
  <div class="notdone">
    <h3>Looking forward to doing ...</h3>
    <ul id="notdone" class="list-group"></ul>
  </div>

  <div class="done">
    <h3>Done things</h3>
    <ul id="done" class="list-group"></ul>
  </div>
</div>

<script type="text/javascript">

  </script>

