
<script>
var session_user = <%= session.User.id %>
</script>

<%- partial ('js_templates.html.ejs') %>

<div class='container'>
  <h1><%= user.name %>'s Inspiral Dashboard</h1>
</div>

<div id="add-inspiration">
  <input type="text" placeholder="Enter something inspiring!" />
  <input type="button" value="Add Inspiration" id="submit" />
</div>

<div id="inspiration-todo-list">
  <ul></ul>
</div>


