<script>
  smtpTransport.sendMail(mailOptions, callback);
</script>

<html>
  <head>
  </head>
  <body>
    <h2>Enter your friend's email</h2>
    <input type="text" placeholder="type here"></input>
  </body>
</html>
