<base target="_top">

<% if (session.authenticated) { %>
<%- partial ('../partials/navbar_loggedin.ejs') %>
<% } else { %>
<%- partial ('../partials/navbar_loggedout.ejs') %>
<% } %>

        <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h1 class="brand-heading">Inspiral</h1>

<br /><br /><br /><br /><br />
                        <div class="page-scroll">
                            <p> <a href="http://startbootstrap.com/grayscale" class="btn btn-default btn-lg">Inspire with your own acts of kindness</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h2>Inspire</h2>
                    <p>Add acts of kindness you want to do and have done, and inspire others to add these acts of kindness to their lists. Inspiral is a community dedicated to growing the collective kindness.</p>

                <h2>Discover</h2>
                    <p>Random acts of kindness are contagious. Check out the inspiration feed to be inspired by the acts of kindness that other users are doing, and add them to your own list to do.</p>

                <h2>Share</h2>
                    <p>Kindness starts with one act, and spirals out from there. Inspire your friends to join you in acts of kindness by tweeting and emailing out your favorite inspirations. </p>           </div>
        </div>
    </section>

    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">

                    <p>"No act of kindness, no matter how small, is ever wasted.
                        <p style="text-align: right">-- Aesop</p>
                    <p>"Kindness is the language which the deaf can hear and the blind can see." </p>
                        <p style="text-align: right">-- Mark Twain</p>
                        <p>"Wherever there is a human being, there is an opportunity for a kindness.</p>
<p style="text-align: right">-- Seneca</p>

                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Get started with Inspiral</h2>
                <p>Inspiral is a social web app for posting and sharing acts of kindness. We encourage you to add acts of kindness, find inspiration from others, and organize acts of kindness with your friends through groups and invitations.</p>
                <ul class="list-inline banner-social-buttons">
                    <li><a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li><a href="https://github.com/shukbot/inspiral" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                  <!--   <li><a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li> -->
                </ul>
                <ul class="list-inline banner-social-buttons">
                    <li style="min-width: 200px; min-height: 100px;">
<a href="https://twitter.com/intent/tweet?button_hashtag=Inspiral&text=Inspiring%20through%20kindness%20by" class="twitter-hashtag-button"
data-size="large" data-url="http://inspiralapp.herokuapp.com">Tweet #Inspiral</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</li></ul>
            </div>
        </div>
    </section>

    <div id="map"></div>

    <!-- Google Maps API Key - You will need to use your own API key to use the map feature -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?APIKEY&sensor=false"></script>

</body>

</html>



    <!--  PAGE SPECIFIC JS -->
<script>
  $(document).ready(function() {
    //Grabs most popular inspirations for top repins section
    $.get("/inspiration/mostPopular", function(data) {
       for (var i in data.suggestions) {
         $('.top-repins').append('<li class="list-group-item top-and-most-recent">' + data.suggestions[i].text + '<span class="badge">' + data.suggestions[i].repin_count + '</span></li>');
       }
     });

    var timeOf;
    //Grabs most recent inspirations
     $.get("/inspiration/mostRecent", function(data) {
       for (var i in data.mostRecentInspirations) {
        timeOf = moment("data.mostRecentInspirations[i].createdAt").fromNow();
         $('.most-recent-inspirations').append('<li class="list-group-item top-and-most-recent">' + data.mostRecentInspirations[i].text + '<span id="recent-inspirations">' + ' added ' + timeOf + ' by ' + '<a href="/user/show/' + data.mostRecentInspirations[i].user_id + '" id="added-by-homepage">' + data.mostRecentInspirations[i].user_username + '</a></span></li>');
       }
     });
  });
</script>





