
  <base target="_top">


    <!-- Paper.js canvas
    ================================================== -->
<div class="row">
  <div class="col-xs-12">
    <div id="homepage-inspiral">
      <canvas id="homepageCanvas">
      </canvas>
      <div id="inspiral-land-title">INSPIRAL</div>
      </br>
      <a class="btn btn-lg btn-primary" id="signup-homepage" href="#signinup" role="button">get started now</a>
    </div>
  </div>
</div>

<% if (session.authenticated) { %>
<%- partial ('../navbar_loggedin.ejs') %>
<% } else { %>
<%- partial ('../navbar_loggedout.ejs') %>
<% } %>

    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container" id="homepage-row-2">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-xs-4">
          <h3 class="homepage-row-2-text">Inspire</h3>
            <p class="homepage-para">Add acts of kindness you want to do and have done, and inspire others to add these acts of kindness to their lists. Inspiral is a community dedicated to growing the collective kindness.</p>
        </div><!-- /.col-xs-4 -->
        <div class="col-xs-4">
          <h3 class="homepage-row-2-text">Discover</h3>
            <p class="homepage-para">Random acts of kindness are contagious. Check out the inspiration feed to be inspired by the acts of kindness that other users are doing, and add them to your own list to do.</p>
        </div><!-- /.col-xs-4 -->
        <div class="col-xs-4">
          <h3 class="homepage-row-2-text">Share</h3>
          <p class="homepage-para">Kindness starts with one act, and spirals out from there. Inspire your friends to join you in acts of kindness by tweeting and emailing out your favorite inspirations.</p>
        </div><!-- /.col-xs-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Be happy.</h2>
          <p class="lead">According to research by Stanford University psychologist Sonja Lyubomirsky, people who perform random acts of kindness report higher levels of happiness.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <script type="text/paperscript" canvas="homepageCanvas-2">

        var leftPath, rightPath, newCircles;

        var x = 0;
        var y = 250;
        var i = 720;
        var j = 250;
        var radius = 10;

        function onFrame(event) {

          if (event.count % 5 == 0) {

            if (x == 0) {
              leftPath = new Path();
              rightPath = new Path();
              leftPath.strokeColor = '#FF6600';
              rightPath.strokeColor = '#FF6600';
              leftPath.strokeWidth = 10;
              rightPath.strokeWidth = 10;
            }

            leftPath.add(new Point(x, y));
            if (x < 360) {
              x += 5;
            }

            rightPath.add(new Point(i, j));
            if (i > 360) {
              i -= 5;
            }

            if (x == 360) {
              var explodingCircle = new Path.Circle(new Point(360, 250), 10);
              explodingCircle.fillColor = '#428bca';
              explodingCircle.sendToBack();

             if (radius <= 190) {
              newCircles = new Path.Circle(new Point(360, 250), radius);
              newCircles.fillColor = '#428bca';
              newCircles.sendToBack();
              radius += 10;
            }
              if (radius == 200) {
                project.activeLayer.removeChildren();
                x = 0;
                y = 250;
                i = 720;
                j = 250;
                radius = 10;
              }
            }
          }
        }

      </script>

      <canvas id="homepageCanvas-2">
      </canvas>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Be healthy.</h2>
          <p class="lead">And boost others' happiness, too. Studies show that acts of kindness positively affect the people who commit them, as well as anyone who witnesses or hears about the kindness.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <a name="signinup">
        <div class="col-xs-12" id="start-inspiring">
          <h2 class="featurette-heading">Start inspiring now</h2>
          <iframe src="/user/new" scrolling="no" frameborder="0"></iframe>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Adam, Kathryn & Zalary &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!--  PAGE SPECIFIC JS -->




