<% if (session.authenticated) { %>
<%- partial ('../navbar_loggedin.ejs') %>
<% } else { %>
<%- partial ('../navbar_loggedout.ejs') %>
<% } %>

<h2>Inspiration Feed</h2>
<div id="inspiration-feed">
  <div id="newest-inspirations">
  </div>
  <% for (i in inspirations) { %>
  <div class="inspiration-item"><%= inspirations[i].text %></div>
  <% } %>
</div>
