<% if (session.authenticated) { %>
  <%- partial ('../navbar_loggedin.ejs') %>
  <% } else { %>
  <%- partial ('../navbar_loggedout.ejs') %>
  <% } %>

<h2>Inspiration Feed</h2>
<div id="inspiration-feed">
  <% for (i in inspirations) { %>
  <div class="inspiration-item">
      <div class="inspiration-text">
        <%= inspirations[i].text %>
      </div>
      <div class="inspiration-user">
        <%= inspirations[i].user_id %>
      </div>
  </div>
  <% } %>
</div>

