  <div class="col-xs-6">
    <span class="inspiration-column-title">
      <%= inspiration.text %>'s Story
    </span>
    <div id="done">
      <% for (var i in story) { %>
        <div class="story-event">

            <%= story[i].event.pinned_from %>

            <%= story[i].event.pinned_by %>
          </div>
        <
      <% } %>
    </div>

</div>
