  <div class="col-xs-6">
    <span class="inspiration-column-title">
      Inspiration Story
    </span>
    <div class="inspiration-text">
          <%= inspiration.text %>
        </div>
        <div class="buttons">
           <% if (session.authenticated && (session.User.id != inspirations[i].user_id)) { %>
           <button type="button" id="submit" class="btn btn-sm btn-danger this-inspires inspire_link repin-button" title="Like this idea and add it to your own queue">
           <i class="fa fa-heart"></i>
           </button>
           <% } %>
           <button type="button" class="btn btn-sm btn-warning inspiration_map map-button" title="View this inspiration on a map">
           <i class="fa fa-map-marker"></i>
           </button>
           <button type="button" class="btn btn-sm btn-info story_link" title="View the story of this inspiration">
           <i class="fa fa-clipboard"></i>
           </button>
           <% if (session.authenticated) { %>
           <button type="button" id="submit" class="btn btn-sm btn-success inspiration-email-test" title="Email to a friend" data-toggle="modal" data-text="<%= inspiration.text %>" data-target="#emailModal">
           <i class="fa fa-envelope"></i>
           </button>
           <% } %>
        </div>
    <div id="done">
      <% for (var i in story) { %>
        <div class="story-event">

            <%= story[i].event.pinned_from %>

            <%= story[i].event.pinned_by %>
        </div>
      <% } %>
    </div>
</div>
